<?xml version="1.0" ?>
<launch>
   <arg name="arm_id"/> 

   <group if="$(eval arm_id == 'panda_1')">
      <include file="$(find franka_example_controllers)/launch/single_arm_move_to_start.launch">
         <arg name="robot_ip" value="172.16.0.2"/>
         <arg name="arm_id" value="panda_1"/>
         <arg name="joint_goal0" value="0.5391666385495162"/>
         <arg name="joint_goal1" value="0.16433553950619276"/>
         <arg name="joint_goal2" value="0.026708645904796165"/>
         <arg name="joint_goal3" value="-2.6364520970021554"/>
         <arg name="joint_goal4" value="-0.013178835194971823"/>
         <arg name="joint_goal5" value="2.800656206766764"/>
         <arg name="joint_goal6" value="-0.2079136168708404"/>
      </include>  
   </group>

   <group if="$(eval arm_id == 'panda_2')">
      <include file="$(find franka_example_controllers)/launch/single_arm_move_to_start.launch">
         <arg name="robot_ip" value="172.16.0.3"/>
         <arg name="arm_id" value="panda_2"/>
         <arg name="joint_goal0" value="0.26726599941667717"/>
         <arg name="joint_goal1" value="0.23969597375215793"/>
         <arg name="joint_goal2" value="-0.7520163599263299"/>
         <arg name="joint_goal3" value="-2.6184497424189352"/>
         <arg name="joint_goal4" value="0.449847802095943"/>
         <arg name="joint_goal5" value="2.7595190381473964"/>
         <arg name="joint_goal6" value="-1.6774026618053515"/>
      </include>  
   </group>

</launch>
