<?xml version="1.0" ?>
<launch>
  <arg name="arm_id"/> 

  <group if="$(eval arm_id == 'panda_1')">
    <include file="$(find franka_control)/launch/franka_control.launch">
      <arg name="robot_ip" value="172.16.0.2" />
      <arg name="load_gripper" value="false" />
    </include>
    <include file="$(find panda_moveit_config)/launch/panda_moveit.launch">
      <arg name="load_gripper" value="false" />
    </include>
    <node name="move_to_start" pkg="franka_example_controllers" type="move_to_start.py" output="screen" required="true" />
  </group>

  <group if="$(eval arm_id == 'panda_2')">
    <include file="$(find franka_control)/launch/franka_control.launch">
      <arg name="robot_ip" value="172.16.0.3" />
      <arg name="load_gripper" value="false" />
    </include>
    <include file="$(find panda_moveit_config)/launch/panda_moveit.launch">
      <arg name="load_gripper" value="false" />
    </include>
    <node name="move_to_start" pkg="franka_example_controllers" type="move_to_start.py" output="screen" required="true" />
  </group>

</launch>
